[submodule "Downloads/alu-AirBnB_clone-master/Downloads/alu-AirBnB_clone-master/alu-AirBnB_clone"]
	path = Downloads/alu-AirBnB_clone-master/Downloads/alu-AirBnB_clone-master/alu-AirBnB_clone
	url = https://github.com/Numwali/alu-AirBnB_clone.git
